Source: iproute2
Origin: tarent
Bugs: mailto:t.glaser@tarent.de
Section: net
Priority: optional
Maintainer: Thorsten Glaser <t.glaser@tarent.de>
Vcs-Browser: https://github.com/tarent/sch_jens/
Vcs-Git: git@github.com:tarent/sch_jens.git
Standards-Version: 4.5.1
Rules-Requires-Root: no
Build-Depends: bison,
               debhelper-compat (= 13),
               default-jdk-headless,
               dkms,
               flex,
               libxtables-dev,
               libatm1-dev,
               libbsd-dev,
               libbpf-dev (>= 1:0.1.0~),
               libcap-dev,
               libdb-dev,
               libelf-dev,
               libmnl-dev,
               libselinux1-dev,
               linux-libc-dev,
               lsb-release,
               pkg-config,
               po-debconf,
               zlib1g-dev,

Package: iproute2-jens
Priority: important
Architecture: linux-any
# note that ${binary:Version} differs, so both iproute2 and iproute2-jens
# are unsuitable to specify exact sch_* versions because they adapt for
# builds for different releases (especially in PPA), so use iproute-janz
# to demand a JENS release instead
Provides: arpd, iproute2 (= ${binary:Version}),
 iproute-janz (= ${source:Version})
Conflicts: arpd, iproute (<< 20130000-1), iproute2
Replaces: iproute, iproute2
Pre-Depends: ${misc:Pre-Depends}, ${jens:prereq}
Depends: ${misc:Depends}, ${shlibs:Depends}, libcap2-bin,
Recommends: iproute2-jens-doc, sch-jens-dkms, ${ipmods:Recommends}
Multi-Arch: foreign
Description: networking and traffic control tools for JENS
 The iproute2 suite is a collection of utilities for networking and
 traffic control.
 .
 These tools communicate with the Linux kernel via the (rt)netlink
 interface, providing advanced features not available through the
 legacy net-tools commands 'ifconfig' and 'route'.
 .
 This is the patched iproute2 package, for JENS by Deutsche Telekom.

Package: iproute2-jens-doc
Section: doc
Architecture: all
Provides: iproute2-doc (= ${binary:Version})
Conflicts: iproute-doc (<< 20130000-1), iproute2-doc
Replaces: iproute-doc, iproute2-doc
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: networking and traffic control tools - documentation
 The iproute2 suite is a collection of utilities for networking and
 traffic control.
 .
 This package contains the documentation for iproute2-jens.

Package: sch-jens-dkms
Architecture: all
Section: kernel
Depends: ${misc:Depends}, iproute2-jens (= ${binary:Version})
Provides: sch-jens
Description: JENS network packet scheduler, kernel module source
 This is a bundle of kernel modules needed for JENS by DTAG LLCTO.
 .
 sch_janz is a bespoke qdisc using an algorithm very close to the Linux
 default pfifo_fast qdisc backing a bandwidth limiting (packet pacing)
 packet scheduler with ECN CE marking, handover simulation, introduction
 of extra latencies, etc. modelled after the E/// PoC RAN.
