#!/usr/bin/make -f

ifeq (,$(filter terse,${DEB_BUILD_OPTIONS}))
export DH_VERBOSE=1
export V=1
export VERBOSE=1
endif

LC_ALL:=C
export LC_ALL

shellescape='$(subst ','\'',$(1))'
shellexport=$(1)=$(call shellescape,${$(1)})

DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildtools.mk
include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ -Snone --with dkms

execute_after_dh_clean:
	-rm -f debian/sch-jens-dkms.install

execute_after_dh_auto_build:
	sed 's/DEB_VERSION_UPSTREAM/${DEB_VERSION_UPSTREAM}/g' \
	    <debian/sch-jens-dkms.install.in >debian/sch-jens-dkms.install || \
	    { rm -f debian/sch-jens-dkms.install; exit 1; }

# work around #736803
override_dh_dkms:
	exec dh_dkms -V ${DEB_VERSION_UPSTREAM}
